body{
    background-image: url("https://images.unsplash.com/photo-1665391837905-74d250172dd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
}

ul{
    list-style-type: none;
    margin: 20px;
    padding: 0px 5px;
}

li{
    float: right;
}

li a{
    display: block;
    padding: 8px;
    background-color:rgba(185, 197, 185, 0.699);
    margin: 10px;
    padding: 10px;
}

