*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    width: 800px;
    height: 600px;
    margin: 20px;
    padding: 10px;
    border: 4px solid #ddd;
    text-align: center;
    text-decoration:overline;
    
    
}
.header {
    width: 100%;
    height: 95%;
    border: 1px solid red;
    background:linear-gradient(rgba(0, 128, 0, 0.158),rgba(255, 0, 0, 0.203)), 
    url("https://source.unsplash.com/random/720x800?='nature'");
   
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}